@font-face {
  font-family: 'Lato';
  src: url('./fonts/Lato-Light.ttf') format('woff2');
}

:root {
  background: black;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: 'Lato';
}

#content {
  display: grid;
  grid-template-rows: 1fr 10fr;
  grid-template-areas:
    "nav"
    "body"
  ;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
}

#nav {
  grid-area: nav;
  background: rgb(36, 41, 46);
  display: flex;
  flex-flow: row wrap;
  place-content: flex-end center;
  place-items: flex-end center;
  gap: 2vw;
}

.navButton {
  background: rgb(214, 0, 107);
  width: 100px;
  height: 50px;
  border-radius: 5px;
  transition: 0.75s;
  border: 1px solid black;
}

.navButton:hover {
  transform: scale(1.2);
  border-color: rgb(0, 145, 200);
  box-shadow: 2px 2px 2px 2px rgba(0, 145, 200, 0.5);
  background: rgb(0, 145, 200);
}

#body {
  grid-area: body;
  background: rgb(47, 54, 61);
  display: flex;
  place-content: center center;
  place-items: center center;
  flex-flow: row wrap;
  padding-top: 20px;
  padding-bottom: 20px;
}

.bodyContainer {
  display: flex;
  flex-flow: column wrap;
  min-width: 362px;
  max-width: 362px;
  min-height: 868px;
  max-height: 1000px;
  place-content: center flex-start;
  place-items: center flex-start;
  border-radius: 10px;
  background: rgb(36, 41, 46);
  padding: 20px;
  gap: 20px;
}

.logoContainer {
  background-image: url("./logo.svg");
  background-size: cover;
  background-position: center;
  width: 150px;
  height: 150px;
}

.contentContainer {
  background: rgb(47, 54, 61);
  border: 1px solid rgb(132, 17, 74);
  display: flex;
  place-content: flex-start center;
  place-content: flex-start center;
  flex-flow: column wrap;
  width: auto;
  height: auto;
  max-width: 450px;
  border-radius: 5px;
  color: white;
  padding: 20px;
  gap: 20px;
  transition: 0.75s;
}

.contentContainer:hover {
  transform: scale(1.025);
  border-color: rgb(0, 145, 200);
  box-shadow: 2px 2px 2px 2px rgba(0, 145, 200, 0.5);
  background: rgb(0, 145, 200);
}

.contentContainer>h1 {
  font-family: "Lato";
  font-weight: normal;
}

.menuImage1 {
  border: 1px solid rgb(132, 17, 74);
  min-width: 250px;
  transition: 0.75s;
  width: 312px;
  height: 156px;
  background-image: url('./ramen1.jpg');
  background-size: cover;
  background-position: center;
  max-width: 450px;
  border-radius: 5px;
  color: white;
  padding: 20px;
  gap: 20px;
  transition: 0.75s;
}

.menuImage2 {
  border: 1px solid rgb(132, 17, 74);
  min-width: 250px;
  transition: 0.75s;
  width: 312px;
  height: 156px;
  background-image: url('./ramen2.jpg');
  background-size: cover;
  background-position: center;
  max-width: 450px;
  border-radius: 5px;
  color: white;
  padding: 20px;
  gap: 20px;
  transition: 0.75s;
}

.menuImage3 {
  border: 1px solid rgb(132, 17, 74);
  min-width: 250px;
  transition: 0.75s;
  width: 312px;
  height: 156px;
  background-image: url('./ramen3.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  max-width: 450px;
  border-radius: 5px;
  color: white;
  padding: 20px;
  gap: 20px;
  transition: 0.75s;
}

.menuImage1:hover,
.menuImage2:hover,
.menuImage3:hover {
  transform: scale(1.05);
  border-color: rgb(0, 145, 200);
  box-shadow: 2px 2px 2px 2px rgba(0, 145, 200, 0.5);
}

form {
  display: flex;
  place-content: flex-start center;
  place-items: flex-start center;
  flex-flow: column wrap;
}

.inputContainer {
  display: flex;
  color: white;
  place-content: center flex-start;
  place-items: center flex-start;
  flex-flow: column wrap;
  margin-top: 10px;
  gap: 10px;

  width: 300px;
}

.inputContainer>input {
  background: rgb(36, 41, 46);
  border: 1px solid rgb(132, 17, 74);
  width:100%;
  height: 25px;
  transition: 0.75s;
  border-radius: 5px;
  color: white;
}

.inputContainer>.message {
  height: 100px;
  display: flex;
  place-content: flex-start flex-start;
  place-items: flex-start flex-start;
  color: white;
  background: rgb(36, 41, 46);
  border: 1px solid rgb(132, 17, 74);
  transition: 0.75s;
  width:100%;
}

.inputContainer>input:hover,
.inputContainer>input:focus,
.inputContainer>.message:hover,
.inputContainer>.message:focus {
  transform: scale(1.1);
  border-color: rgb(0, 145, 200);
  box-shadow: 2px 2px 2px 2px rgba(0, 145, 200, 0.5);
}

.submitButton {
  background: rgb(214, 0, 107);
  width: 175px;
  height: 50px;
  border-radius: 5px;
  transition: 0.75s;
  border: 1px solid black;
  margin-top: 20px;
  width:100%;
}

.submitButton:hover {
  transform: scale(1.2);
  border-color: rgb(0, 145, 200);
  box-shadow: 2px 2px 2px 2px rgba(0, 145, 200, 0.5);
  background: rgb(0, 145, 200);
}